<ion-view view-title="Flipper">
  <ion-content scroll="false">
    <ion-list>
      <fa-app style="height: 420px; width: 420px; margin: 0;">
        <fa-view fa-pipe-from="evt" fa-click="flip()">
          <fa-flipper id="flipper">
            <fa-surface fa-background-color="'#FF0000'" fa-pipe-to="evt">Front</fa-surface>
            <fa-surface fa-background-color="'#0000FF'" fa-pipe-to="evt">Back</fa-surface>
          </fa-flipper>
        </fa-view>
      </fa-app>
    </ion-list>
  </ion-content>
</ion-view>
